<!--

NOTE: because of the overlapping nature of the subscribe section, you need to add this padding-bottom to the section directly above the footer so theres enough space between the subscribe section and the one above it.

LESS
padding-bottom: (250/16rem);
SCSS
padding-bottom: calc(250 / 16 * 1rem);
CSS
padding-bottom: 15.625rem;

-->         
                                
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1291">
    <div class="cs-container">       
        <!-- Subscribe Form -->
        <div id="cta-1291">
            <div class="cs-content">
                <h2 class="cs-title">Call us today to get your free estimate. Let us build your dream home.</h2>
                <a href="" class="cs-button-solid">Get Free Quote</a>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves.svg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves-t.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves-t.svg" alt="waves" width="1280" height="278" aria-hidden="true">
            </picture>
        </div>                
        <div class="cs-wrapper">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Footer/logo.svg" alt="logo" width="240" height="32">
                </a>
                <p class="cs-text">
                    We planning, designing, financing, and executing projects.
                </p>
                <a href="mailto:info@mail.com" class="cs-link">
                    <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/construction-mail.svg" alt="icon" width="24" height="24">
                    hi@stitchconstruction.com
                </a>
            </div>
            <!-- Links -->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Services</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Email Marketing</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Brandings</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Campaign</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Offline</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">About</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Our Story</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Benefits</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Team</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Career</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Facebook</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Instagram</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">LinkedIn</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Help</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">FAQ</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2023. 
            <a class="cs-copyright-link" href="">Stitch Construction.</a>
            All Right Reserved.
        </span>
        <a href="" class="cs-copyright-link">Terms of Service</a>
        <a href="" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater-wrapper" aria-hidden="true">
        <span class="cs-floater">

        </span>
    </div>
</footer>
                                                     