---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

       <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-559">
    <div class="cs-container">
        <span class="cs-int-topper">DIAMOND CUT PAINTING</span>
        <span class="cs-int-title">CONTACT US</span>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="home interior" width="1280" height="568" aria-hidden="true">
    </picture>
</div>   

 <!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-486">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Talk to us about your <span class="cs-color">Painting Project!</span></h2>
            <p class="cs-text">
               We're eager to hear about your project and explore how we can assist you in transforming your spaces. Whether it's a home painting project, staining services, or commercial painting, we're here to make your vision a reality.
            </p>
            <span class="cs-heading">Any problem about your booking?</span>
            <span class="cs-heading">You can contact us on :</span>
            <a href="tel:647-778-7058" class="cs-link">(647) 778-7058</a>
            <a href="mailto:diamondcutpainting01@gmail.com" class="cs-link">diamondcutpainting01@gmail.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-486" name="Contact Form" data-netlify="true" method="post">
            <h3 class="cs-h3">Schedule Consult</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-486" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-486" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-486" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                What do you need help with?
                <select name="cars" id="cs-select-486">
                    <option value="full renovation">Interior Painting</option>
                    <option value="sod install">Exterior Painting</option>
                    <option value="yard cleanup">Commercial Painting</option>
                    <option value="landscape design">Staining</option>
                </select>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Book a Consult</button>
        </form>
    </div>
</section>
                                
{% endblock %}