---
title: 'Painting Estimate'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: 'Painting-Estimate/'
eleventyNavigation:
    key: Painting
    order: 400
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/painting-estimate.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-559">
    <div class="cs-container">
        <span class="cs-int-topper">DIAMOND CUT PAINTING</span>
        <span class="cs-int-title">QUOTE</span>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="home interior" width="1280" height="568" aria-hidden="true">
    </picture>
</div>  

<div class="calconic-calculator"  data-calculatorid="653708764139e6001ff4076d"></div>
<script>
  (function() { var qs,j,q,s,d=document, gi=d.getElementById,
  ce=d.createElement, gt=d.getElementsByTagName,
  id="calconic_", b="https://cdn.calconic.com/static/js/";
  if(!gi.call(d,id)) { j=ce.call(d,"script"); j.id=id; j.type="text/javascript"; j.async=true;
  j.dataset.calconic=true;
  j.src=b+"calconic.min.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(j,q) }
})();
</script>




{% endblock %}